
{% extends 'base.html' %}

{% block content %}

    <h1>Врачи</h1>

    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                {% with object_list|first as object %}
                {% for field in object.get_list_fields %}
                <th scope="col">{{ field.verbose_name }}</th>
                {% endfor %}
                {% endwith %}
            </tr>
        </thead>
        <tbody>
            {% for object in object_list %}
            <tr>
                {% for field in object.get_list_fields %}
                <td>{{ field.value }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
