
{% extends 'base.html' %}

{% block content %}

    <h1>Текущее расписание</h1>

    <table class="table table-bordered">
        <thead class="thead-dark text-center">
            <tr>
                <th scope="col" colspan="2">Врач</th>
                <th scope="col">1</th>
                <th scope="col">2</th>
                <th scope="col">3</th>
                <th scope="col">4</th>
                <th scope="col">5</th>
                <th scope="col">6</th>
                <th scope="col">7</th>
                <th scope="col">8</th>
                <th scope="col">9</th>
                <th scope="col">10</th>
            </tr>
        </thead>
        <tbody>
            {% for doctor in doctors %}
                <tr>
                    <td rowspan="2">
                        {{ doctor.name }}
                    </td>
                    <td>
                        Адрес
                    </td>
                    {% for record in doctor.records %}
                        {% if record.is_finish %}
                        <td class="table-success">
                        {% elif record.is_sent %}
                        <td class="table-warning">
                        {% else %}
                        <td class="table-danger">
                        {% endif %}
                            {{ record.address }}
                        </td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>
                        Время
                    </td>
                    {% for record in doctor.records %}
                        {% if record.is_finish %}
                        <td class="table-success">
                        {% elif record.is_sent %}
                        <td class="table-warning">
                        {% else %}
                        <td class="table-danger">
                        {% endif %}
                            {{ record.start_date|date:'H:i' }}
                            {% if record.is_finish %}
                            ({{ record.finish_date|date:'H:i' }})
                            {% endif %}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <h1>Неназначенные вызовы</h1>
    <table class="table table-striped table-bordered">
        <thead class="thead-dark text-center">
            <tr>
                <th scope="col">Адрес</th>
                <th scope="col">Действия</th>
            </tr>
        </thead>
        <tbody>
            {% for record in unrelated %}
                <tr>
                    <td>
                        {{ record.address }}
                    </td>
                    <td class="text-right">
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink{{ record.id }}"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Назначить
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink{{ record.id }}">
                                {% for doctor in doctors %}
                                <a class="dropdown-item" href="#">{{ doctor.name }}</a>
                                {% endfor %}
                            </div>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
