
{% extends 'base.html' %}

{% block content %}

    <script src="/static/js/record_list.js"></script>

    <div class="container">
        <div class="row">
            <div class="col">
                <form method="POST">
                    {% csrf_token %}
                    <table class="table">
                        {{ form.as_table }}
                    </table>
                    <input type="submit" value="Сохранить">
                </form>
            </div>
            <div class="col">
                <span id="record_table"></span>
            </div>
        </div>
    </div>

{% endblock %}
