
.btn-orange{
    background-color: #801080;
    border-color: currentColor;
}

.btn-orange:hover{
    background-color: #601060;
    border-color: currentColor;
}

.btn-orange:focus,
.btn-orange:visited{
    background-color: #801080;
    border-color: currentColor;
}
